.navbarLogo{
  height: 40px;
  float: left;
  margin-left: 10px;
}

page-home {

  .list{
    text-align: right;
  }

  .margin-bottom{
   margin-bottom: 5px;
  }

  .menu{
    background-color: #8B0000;
  }

  .table, .row{
    margin-top:50px;
    border: 1px solid grey;
    padding: 15px;
  }
  .bouton{
    margin-bottom: 0%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
}
