page-welcome {
  #welcome{
    //background-color: color($colors, primary);
    background-image: url("../../assets/imgs/fond.jpg");
    background-attachment:fixed;
    h1{
      font-size: 52px;
      margin-top: 20px;
      color:white; 
      text-align: center;
    }

    div{
      text-align: center;
      color:white;
    }
    .marginTop{
      margin-top: 100px;
    }
    .logo{
      height: 160px;
      margin-top: 10px;
    }

    #Bouton{
      margin-top: 50px;
      display: inline-block;
    }

    }
  }

